.filter-category {
    margin-block-start: 3rem;
}

.filter-category__list {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-category__button {
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: var(--text-light-color);
    transition: 0.3s;
}

.filter-category__button:hover {
    color: var(--primary-color);
}

.filter-category__error {
    max-width: 20rem;
    text-align: center;
    font-size: 1.4rem;
    margin-block-start: 4rem;
}