.slide {
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CCC;
    display: grid;
    align-items: center;
    position: relative;
}

.slide__content {
    padding: 2rem;
}

.slide__title {
    font-weight: 800;
    font-size: 2.2rem;
    margin-block-end: 0.8rem;
    color: var(--text-color);
    text-shadow: var(--text-shadow-primary);
}

.slide__description {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--text-color);
    text-shadow: var(--text-shadow-primary);
}

/* Swiper Buttons */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    /* color: var(--primary-color); */
    content: "";
}
.swiper-button-prev::after {
    /* color: var(--primary-color); */
    content: "";
}

@media (min-width: 768px){
    .slide {
        height: 50rem;
        grid-template-columns: 1fr 1fr;
    }

    .slide__content {
        padding: 4rem;
    }   

    .slide__title {
        font-size: 4rem;
    }

    .slide__description {
        font-size: 2rem;
        line-height: 2.7rem;
    }
}

@media (min-width: 944px) {
    
    .slide__title {
        font-size: 4.5rem;
    }

    .slide__description {
        font-size: 2rem;
        line-height: 2.7rem;
    }
}